body{
    align-items: center;
    text-align: center;
    align-content: center;
    background-color: antiquewhite;
}

h1{
    color: cornflowerblue;

}

div{
    display: flex;
    justify-content: center;
}
